<ion-header>
    <ion-navbar color="primary">
        <ion-title>
            {{title}}
        </ion-title>
        <ion-buttons end>
            <button ion-button icon-only (tap)="closeModal()">
                <ion-icon name="close"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content class="paddingBottom">

    <ion-item>
        <ion-label floating> {{'SALESORDER' | translate}} </ion-label>
        <ion-select interface="popover" [ngModel]="purchaseOrder._salesOrder" (ngModelChange)="purchaseOrder._salesOrder = $event"
            (ionChange)="changeValues(purchaseOrder._salesOrder)">
            <ion-option *ngFor="let item of salesOrders" [value]="item._id">{{item.remarks}}</ion-option>
        </ion-select>
    </ion-item>

    <ion-item>
        <ion-label floating>
            {{'PRODUCT' | translate}}
        </ion-label>
        <select-searchable #productComponent item-content [(ngModel)]="selectedProducts" [items]="products"
            itemValueField="_id" headerColor="primary" [focusSearchbar]="true" [canSearch]="true" [isMultiple]="true"
            (onChange)="productChange($event)">
            <ng-template selectSearchableValueTemplate let-selectedProducts="value">
                <div class="select-searchable-value-item" *ngFor="let product of selectedProducts">
                    <div *ngIf="currentLang === 'en'">
                        {{product.nameEn}} &nbsp; &nbsp; ({{product.quantity}})
                    </div>
                    <div *ngIf="currentLang === 'ar'">
                        {{product.nameAr}} &nbsp; &nbsp; ({{product.quantity}})
                    </div>
                </div>
            </ng-template>
        </select-searchable>
    </ion-item>
    <ion-item>
        <ion-label floating>{{'REMARKS' | translate}}</ion-label>
        <ion-input [ngModel]="purchaseOrder.remarks" (ngModelChange)="purchaseOrder.remarks=$event" type="text"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label floating>{{'TOTAL' | translate}}</ion-label>
        <ion-input readonly="true" [ngModel]="purchaseOrder.total" (ngModelChange)="purchaseOrder.total=$event" type="number"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label floating>{{'TAX' | translate}}</ion-label>
        <ion-input [ngModel]="purchaseOrder.tax" (ngModelChange)="purchaseOrder.tax=$event" type="number"
            (ngModelChange)="calcTotal()"></ion-input>
    </ion-item>

    <ion-item>
        <ion-label floating>{{'DISCOUNT' | translate}}</ion-label>
        <ion-input [ngModel]="purchaseOrder.discount" (ngModelChange)="purchaseOrder.discount=$event" type="number"
            (ngModelChange)="calcTotal()"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label floating>{{'GRANDTOTAL' | translate}}</ion-label>
        <ion-input readonly="true" [ngModel]="purchaseOrder.grandTotal" (ngModelChange)="purchaseOrder.grandTotal=$event"
            type="number" (ngModelChange)="calcTotal()"></ion-input>
    </ion-item>

</ion-content>
<ion-footer>
    <button ion-button block class="bottomButton" color="primary" (click)="savePurchaseOrder()">Submit</button>
</ion-footer>