<ion-header>

    <ion-row>
        <ion-col col-10>
            <ion-searchbar [(ngModel)]="filters.productName" [showCancelButton]="shouldShowCancel" (ionInput)="getAllSalesOrders()"
                (ionCancel)="getAllSalesOrders()">
            </ion-searchbar>
        </ion-col>
        <ion-col col-2>
            <button class="filterButton" ion-button block outline icon-only (tap)="showFiltersPage()" strong=true>
                <ion-icon name="funnel"></ion-icon>
            </button>
        </ion-col>
    </ion-row>

</ion-header>
<ion-content>

    <ion-list>
        <!--  -->
        <ion-card *ngFor="let item of salesOrders" (tap)="gotoEditSalesOrder(item._id)" (press)="deleteSalesOrder(item._id)">

            <ion-card-header>
                <div *ngFor="let product of item.productObjects">
                    {{product.nameEn}}
                </div>
            </ion-card-header>

            <ion-row>
                <ion-col col-4>
                    <ion-label> {{'ORDERDATE' | translate}}</ion-label>
                    <ion-label>{{item.orderDate | date:'mediumDate'}}</ion-label>

                </ion-col>

                <ion-col col-4>
                    <ion-label> {{'TOTAL' | translate}}</ion-label>
                    <ion-label> {{item.total}}</ion-label>

                </ion-col>
                <ion-col col-4>
                    <ion-label> {{'GRANDTOTAL' | translate}}</ion-label>
                    <ion-label> {{item.grandTotal}}</ion-label>

                </ion-col>
            </ion-row>



        </ion-card>
    </ion-list>

    <ion-fab bottom right>
        <button ion-fab (tap)="gotoAddSalesOrderPage()">
            <ion-icon name="add"></ion-icon>
        </button>
    </ion-fab>


</ion-content>