
page-salesOrderDetails {
    .orderStatusIcon {
        font-size: 35px;
    }
    
    .orderStausIcon {
        max-width: 100%;
        border: 0;
        margin-left: 20px;
        width: 35px;
    }
}