<ion-header>
    <ion-navbar color="primary">
        <ion-title>
            {{title}}
        </ion-title>
        <ion-buttons end>
            <button ion-button icon-only (tap)="closeModal()">
                <ion-icon name="close"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content class="paddingBottom">

    <ion-row>
        <ion-col>
            <img class="orderStausIcon" (click)="orderStatus.orderCreated = !orderStatus.orderCreated;" [src]="orderStatus.orderCreated ? 'assets/icon/oc-on.png' : 'assets/icon/oc-off.png' " />
        </ion-col>
        <ion-col>
            <img class="orderStausIcon" (click)="orderStatus.procured = !orderStatus.procured;" [src]="orderStatus.procured ? 'assets/icon/p-on.png' : 'assets/icon/p-off.png' " />
        </ion-col>
        <ion-col>
            <img class="orderStausIcon" (click)="orderStatus.inTransit = !orderStatus.inTransit;" [src]="orderStatus.inTransit ? 'assets/icon/it-on.png' : 'assets/icon/it-off.png' " />
        </ion-col>
        <ion-col>
            <img class="orderStausIcon" (click)="orderStatus.delivered = !orderStatus.delivered;" [src]="orderStatus.delivered ? 'assets/icon/d-on.png' : 'assets/icon/d-off.png' " />
        </ion-col>
        <ion-col>
            <img class="orderStausIcon" (click)="orderStatus.cashCollected = !orderStatus.cashCollected;" [src]="orderStatus.cashCollected ? 'assets/icon/cc-on.png' : 'assets/icon/cc-off.png' " />
        </ion-col>
    </ion-row>

    <ion-item>
        <ion-label floating> {{'RETAILER' | translate}} </ion-label>
        <ion-select interface="popover" [ngModel]="salesOrder._retailer" (ngModelChange)="salesOrder._retailer=$event">
            <ion-option *ngFor="let item of retailers" [value]="item._id">{{item.name}}</ion-option>
        </ion-select>
    </ion-item>
    <ion-item>
        <ion-label floating>{{'REMARKS' | translate}}</ion-label>
        <ion-input [ngModel]="salesOrder.remarks" (ngModelChange)="salesOrder.remarks=$event" type="text"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label floating>{{'ORDERDATE' | translate}}</ion-label>
        <ion-datetime min="2016" max="2020-10-31" [ngModel]="salesOrder.orderDate" (ngModelChange)="salesOrder.orderDate=$event"
            type="text "></ion-datetime>
    </ion-item>
    <ion-item>
        <ion-label floating> {{'PRODUCT' | translate}}</ion-label>
        <select-searchable #productComponent item-content [(ngModel)]="selectedProducts" [items]="products"
            itemValueField="_id" itemTextField="nameEn" headerColor="primary" [focusSearchbar]="true" [canSearch]="true"
            [isMultiple]="true" (onSearch)="searchProducts($event)" (onChange)="productChange($event)">
            <ng-template selectSearchableValueTemplate let-selectedProducts="value">
                <div class="select-searchable-value-item" *ngFor="let product of selectedProducts">
                    <div *ngIf="currentLang === 'en'">
                        {{product.nameEn}} &nbsp; &nbsp; ({{product.quantity}})
                    </div>
                    <div *ngIf="currentLang === 'ar'">
                        {{product.nameAr}} &nbsp; &nbsp; ({{product.quantity}})
                    </div>
                </div>
            </ng-template>
        </select-searchable>
    </ion-item>
    <ion-item>
        <ion-label floating>{{'TOTAL' | translate}}</ion-label>
        <ion-input readonly="true" [ngModel]="salesOrder.total" (ngModelChange)="salesOrder.total=$event" type="number"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label floating>{{'TAX' | translate}}</ion-label>
        <ion-input [ngModel]="salesOrder.tax" (ngModelChange)="salesOrder.tax=$event" type="number" (ngModelChange)="calcTotal()"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label floating>{{'HANDLING' | translate}}</ion-label>
        <ion-input [ngModel]="salesOrder.handling" (ngModelChange)="salesOrder.handling=$event" type="number"
            (ngModelChange)="calcTotal()"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label floating>{{'COMMISSION' | translate}}</ion-label>
        <ion-input [ngModel]="salesOrder.commission" (ngModelChange)="salesOrder.commission=$event" type="number"
            (ngModelChange)="calcTotal()"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label floating>{{'DISCOUNT' | translate}}</ion-label>
        <ion-input [ngModel]="salesOrder.discount" (ngModelChange)="salesOrder.discount=$event" type="number"
            (ngModelChange)="calcTotal()"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label floating>{{'GRANDTOTAL' | translate}}</ion-label>
        <ion-input readonly="true" [ngModel]="salesOrder.grandTotal" (ngModelChange)="salesOrder.grandTotal=$event"
            type="number"></ion-input>
    </ion-item>
</ion-content>
<ion-footer>
    <button ion-button block class="bottomButton" color="primary" (click)="saveSalesOrder()">Submit</button>
</ion-footer>